//====================================================================================================

.page {
    background-color: rgb(255, 55, 245);
    // .page__container

    &__container {
    }

    // .page__home

    &__home {
        background: #000;
    }
}


//====================================================================================================
